:root {
  --background: #8c8c8c;
  --foreground: #171717;
  color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0px;
}
li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.border-radius {
  border-radius: 12px;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.w-30 {
  width: 30% !important;
}

.store {
  display: flex;
  justify-content: space-between;
}

.addCart {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #1b1919;
  color: white;
  padding: 10px 0;
  border-radius: 6px;
  border: none;
  width: 100%;
}